/* 
 * Estilos customizados para a página contato
 * Editados através do Editor Visual em 08/11/2025, 02:28:33
 */

[data-json-key="contato.contato_span_Sess_o_de_anamnese_para_compre_1"] {
  font-size: 16px;
}

