/* 
 * Estilos customizados para a página purificacao
 * Editados através do Editor Visual em 08/11/2025, 04:08:29
 */

[data-json-key="purificacao.psicodelicos.subtitle"] {
}

[data-json-key="purificacao.purificacao_p_Reconhecimento_e_conscientiza__8"] {
}

[data-json-key="purificacao.purificacao_p_A_Igreja_de_Metatron_oferece_t_20"] {
}

[data-json-key="purificacao.psicodelicos.intro"] {
}

[data-json-key="purificacao.psicodelicos.title"] {
}

[data-json-key="purificacao.psicodelicos.tripleProtection.cards[1].description"] {
}

[data-json-key="purificacao.faseInicial.subtitle"] {
}

[data-json-key="purificacao.faseInicial.objetivo.content"] {
}

