/* 
 * Estilos customizados para a página quemsomos
 * Editados através do Editor Visual em 08/11/2025, 02:19:11
 */

[data-json-key="quemsomos.quemsomos_p_A_Igreja_de_Metatron__embora_c_1"] {
}

[data-json-key="quemsomos.historico.content[0]"] {
}

