/* 
 * Estilos customizados para a página testemunhos
 * Editados através do Editor Visual em 08/11/2025, 05:53:50
 */

[data-json-key="testemunhos.testemunhos_h1_Testemunhos_de_Transformacao_1"] {
  color: #FF0000;
}
